*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}

form {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: 44px;
    text-align: center;
    text-decoration: underline;
}

label {
    padding: 0.5em 0;
    text-align: center;
    font-size: 30px;
}

input {
    margin: 1em 0;
    padding: 0.25em;
    font-size: 30px;
}

button {
    background-color: #004E98;
    border: none;
    border-radius: 0.2em;
    padding: 0.25em 1em;
    color: #EBEBEB;
    font-size: 40px;
}

button:hover {
    cursor: pointer;
}

.flex-wrap {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 45px;
}