*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B1B1E;
    color: #FAA916
}

form {
    font-family:'Antonio','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: 44px;
    text-align: center;
    text-decoration: underline;
}

label {
    padding: 0.5em 0;
    text-align: center;
    font-size: 30px;
}

input {
    font-family:'Antonio','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1em 0;
    padding: 0.25em;
    font-size: 30px;
    background-color: #fbfffe;
    border: none;
    border-radius: 0.2em;

}

button {
    font-family:'Antonio','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fbfffe;
    border-color: #96031A;
    border-width: 5px;
    border-radius: 0.2em;
    padding: 0.25em 1em;
    color: #1B1B1E;
    font-size: 40px;
}

button:hover {
    cursor: pointer;
}

.flex-wrap {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-group {
    display: flex;
    padding: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 45px;
}